/* ./src/styles/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin:0
}

#nprogress .bar {
    height:6px;
}

#container {
    padding:40px;
    background-color:grey;
    color:white;
}
#nprogress .bar {
    background: mediumseagreen;
}

#nprogress .spinner-icon {
    display: none;
}